# sentiric-knowledge-service/requirements.txt
# Web Framework
fastapi
uvicorn[standard]

# Config & Data Validation
pydantic
pydantic-settings
python-dotenv
typing-extensions

# Logging
structlog

# Observability
prometheus-fastapi-instrumentator

# AI & Vector DB
qdrant-client
sentence-transformers
# torch Dockerfile'da özel olarak kuruluyor

# Web Scraping
beautifulsoup4
requests

# PostgreSQL
psycopg2-binary

# gRPC Sunucu Yetenekleri
# DEĞİŞİKLİK BURADA: Versiyonları contracts reposu ile senkronize et
grpcio>=1.64.1
grpcio-tools>=1.64.1
protobuf>=4.21.0,<6.0.0

# DEĞİŞİKLİK BURADA: #egg fragment'ı olmadan daha temiz bir yol deneyelim
sentiric-contracts-py @ git+https://github.com/sentiric/sentiric-contracts.git@v1.8.9